<div class="container-fluid vh-100 background" [formGroup]="formulario">
  <h2 class="text-center pt-3">{{ tipos | uppercase }}</h2>
  <div class="container d-flex justify-content-between py-3">
    <div class="input-group w-75 me-3">
      <label for="Marca" class="form-label">Marca</label>
      <select class="form-select w-100 rounded" id="Marca" formControlName="marca" (change)="getModelos(formulario.controls['marca'].value)">
        <option selected disabled>Selecione a Marca</option>
        <option *ngFor="let marca of marcas" [value]="marca.codigo">{{ marca.nome }}</option>
      </select>
    </div>

    <div class="input-group me-3">
      <label for="Modelo" class="form-label">Modelo</label>
      <select class="form-select w-100 rounded" id="Modelo" formControlName="modelo" (change)="getAnos(formulario.controls['marca'].value, formulario.controls['modelo'].value)">
        <option selected disabled>Selecione o Modelo</option>
        <option *ngFor="let modelo of modelos" [value]="modelo.codigo">{{ modelo.nome }}</option>
      </select>
    </div>

    <div class="input-group w-50">
      <label for="ano" class="form-label">Ano</label>
      <select class="form-select w-100 rounded" id="ano" formControlName="ano" (change)="getValor(formulario.controls['marca'].value, formulario.controls['modelo'].value, formulario.controls['ano'].value)">
        <option selected disabled>Selecione o ano</option>
        <option *ngFor="let ano of anos" [value]="ano.codigo">{{ ano.nome }}</option>
      </select>
    </div>
  </div>

  <div class="container d-flex justify-content-between align-items-end">
    <div class="container me-2 ps-0">
      <label for="Valor" class="form-label">Valor de venda</label>
      <div class="input-group">
        <span class="input-group-text">R$</span>
        <input type="text" class="form-control" id="Valor" formControlName="venda" (blur)="formatAndSaveCurrency($event)" placeholder="Ex.: 30500 ou 30.500,00">
        <!-- é acionado quando o elemento perde o foco -->
      </div>
    </div>
    <!-- <button type="button" class="btn btn-primary w-50 me-3" (click)="submit()" [disabled]="!formulario.valid">Consultar</button> -->
    <button type="button" class="btn btn-primary w-50 me-3" (click)="submit()">Consultar</button>
    <button type="button" class="btn btn-primary w-50" (click)="refresh()">Atualizar página</button>
  </div>
  <div *ngIf="mostrarResultado">
    <app-resultado></app-resultado>
  </div>
</div>
