@import '../../../styles.scss';

.background {
  background-color: $background-color;
  color: $primary-color;

  .btn {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $primary-color;

    &:hover {
      background-color: $primary-color;
      border-color: $primary-color;
      color: $secondary-color;
    }
  }
}
