<div class="container pt-5">
  <table class="table table-borderless d-flex justify-content-center align-items-center">
    <tbody>
      <tr>
        <th>Marca:</th>
        <td>{{ responseData.Marca }}</td>
        <th>Valor do Veículo:</th>
        <td>{{ formularioData }}</td>
      </tr>
      <tr>
        <th>Modelo:</th>
        <td class="pe-5">{{ responseData.Modelo }}</td>
        <th>Valor pela FIPE:</th>
        <td>{{ responseData.Valor }}</td>
      </tr>
      <tr>
        <th>Ano do Modelo:</th>
        <td>{{ responseData.AnoModelo }}</td>
        <th colspan="4" class="text-success text-center" *ngIf="calcularPercentual() < -5">Valor abaixo da tabela FIPE
        </th>
        <th colspan="4" class="text-danger text-center" *ngIf="calcularPercentual() > 10">Valor acima da tabela FIPE
        </th>
        <th colspan="4" class="text-warning text-center" *ngIf="calcularPercentual() > -5 && calcularPercentual() < 10">
          Valor na média da tabela FIPE</th>
      </tr>
      <tr>
        <th>Código FIPE:</th>
        <td>{{ responseData.CodigoFipe }}</td>
        <th colspan="4" rowspan="2" class="text-success porcentagem align-middle text-center display-1 fw-bold p-0"
          *ngIf="calcularPercentual() < -5">{{ formatData() }}</th>
        <th colspan="4" rowspan="2" class="text-danger porcentagem align-middle text-center display-1 fw-bold p-0"
          *ngIf="calcularPercentual() > 10">{{ formatData() }}</th>
        <th colspan="4" rowspan="2" class="text-warning porcentagem align-middle text-center display-1 fw-bold p-0"
          *ngIf="calcularPercentual() > -5 && calcularPercentual() < 10">{{ formatData() }}</th>
      </tr>
      <tr>
        <th>Mês de Referência:</th>
        <td>{{ responseData.MesReferencia | date:'MM/yyyy' }}</td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-success text-center w-75 mx-auto" role="alert" *ngIf="calcularPercentual() < -5">Valor abaixo
    do mercado</div>
  <div class="alert alert-danger text-center w-75 mx-auto" role="alert" *ngIf="calcularPercentual() > 10">Valor acima do
    mercado</div>
  <div class="alert alert-warning text-center w-75 mx-auto" role="alert"
    *ngIf="calcularPercentual() > -5 && calcularPercentual() < 10">Valor de mercado</div>
</div>
